<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>components and props send to child components </title>
    <style>
        [cloak]{
            display: none;
        }
        .loginForm{
           
        }
        input{
            display: block;
            margin: 1rem;

        }
    </style>
</head>
<body>
    <div id="app" c-cloak>

        <login-form/>
       
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        let app=Vue.createApp({
            data:function(){
                return{

                    loginText:"Login Form"
                }
            },
            methods:{

            }

        })
        app.component('login-form',{
            template:`
            <p v-for="(str,i) in data" :key="i"> {{str}}</p>
            <form class="loginForm" @submit="handleSubmit">
                <h1>{{title}}</h1>
                <custom-input
                    v-for="(input, index) in inputs"
                    :key="index"
                    v-model="input.value"
                    :label="input.label"
                    :type="input.type"

                 />
                <button> Log in</button>
            </form>
            `,
            components:['custom-input'],
            data(){
                 return{
                    title:'Login Form',
                    email:'wfdsa',
                    password:'jsaf',
                    emailLabel:'Email',
                    data:[
                        'adnan','sadiq'
                    ],
                    inputs:[
                        {
                            label:"Email",
                            value:'',
                            type:'email'
                        },
                        {
                            label:'Password',
                            value:'',
                            type:'password'
                        }
                    ]
                }
            },
            methods:{
                handleSubmit(e){
                    e.preventDefault()
                    console.log(this.inputs[0].value, this.inputs[1].value)
                }

            }
        })
        
        app.component('custom-input',{

            template:`
            <label for="">
                {{label}}
                <input :type="type"  v-model="inputVal" />
            </label>
            `
            ,
            props:['label','type', 'modelValue'],
            // move child values to parent
            computed:{
                inputVal:{
                    get(){
                        return this.modelValue

                    },set(value){
                        this.$emit('update:modelValue', value)
                    }
                }
            },
        })
        app.mount('#app')
    </script>


</body>
</html>